/*Partie général*/
}
body{
margin:0px;
font-family: 'Raleway';
font-weight: 400;
font-size: 1rem;
width: auto;
height: auto;
display: block;
}
H1{
font-size: 1,4em;
}

header{
display: flex;
flex-direction: row;
margin-top: 41px;
    }

    #logoentête{
    width: 25%;
    }

    .logo{
    width: 40%;
    height: auto;
    float: left;
    }

    #sousnavigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 41px;
    font-size: 1em;
    }
    #inscription{
    color:#0065FC;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bolder;
    margin-top: 49px;
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 60px;
    }
    #Hébergements, #activités{
    margin-top: 49px;
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 60px;
    }

    #Hébergements:hover, #activités:hover{
    border-bottom: 3px solid #0065FC;
    margin-top: 0px;
    padding-top: 49px;
    margin-right: 60px;
    box-sizing: content-box;
    width: auto;
    }


    #precision{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 60px;
    flex-direction: column;
    }

    .search{
    grid-column-start: 1;
    grid-row-start: 1;
    }
    .fil{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: auto;
    }
    .titfil{
    display: flex;
    justify-content: center;
    align-content: center;
    }
    #zone{
    display: flex;
    flex-flow: column;
    float: left;
    width: auto;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 34px;
    margin-top: 21px;
    }
    #Point{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 48px;
    }
    .fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #ville{
    width: 59%;
    height: 48px;
    Border: 2px solid #F2F2F2;
    }
    #Boutonrecherche{
    width:30%;
    height: 48px;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;       
    }
    #liste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    width: 928px;
    float: left;
    }
    .fa-info{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 5px;

    }
    .filtre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    box-sizing: content-box;
    border: solid #F2F2F2;
    height: 49px;
    border-radius: 30px;
    margin-bottom: 39px;
    padding-right: 23px;
    margin-top: 24px;
    float:left;
    }
    .filtre:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor: grab;
    transition: cubic-bezier(0.77, 0, 0.175, 1);
    }
    .fa-money-bill-wave-alt, .fa-child, .fa-heart, .fa-dog{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    width: 20px;
    margin : 0 10px 0 0;
    }
#principalgrid{
display: grid;
grid-template-columns: 100%;
grid-column-gap: 2%;
}
.true{
display: flex;
flex-direction: row;
font-family: 'fontAwesome';
content: "f005";
color: #F2F2F2;
}
.fa-star{
display: inline-flex;
flex-direction: row;
font-family: 'fontAwesome';
content: "f005";
color: blue;
margin-left: 0;
}
/*Grid et présentation à gauche*/
#gridleft{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50px 150px 150px 150px 50px ;
grid-row-gap: 15px;
align-items: flex-start;
justify-items: flex-start;
background-color: #F2F2F2;
border-radius: 25px;
margin-top: 45px;
margin-right: 0px;
margin-bottom: 50px;
padding-left: 25px;
}
.room1
{
grid-column-start: 1;
grid-row-start: 2;
border: 2px solid violet;
}
.room2
{
grid-column-start: 2;
grid-row-start: 2;
border: 2px solid violet;
}
.room3
{
grid-column-start: 1;
grid-row-start: 3;
}
.room4
{
grid-column-start: 2;
grid-row-start: 3;
}
.room5{
grid-column-start: 1;
grid-row-start: 4;
}
.room6{
grid-column-start: 2;
grid-row-start: 4;

}
.moreright{
grid-column-start: 1;
grid-row-start: 5;
}
.placeleft{
border-radius: 25px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: center;
width: 175px;
border-top: 4px solid white;
background-color: white;
height: 100%;
box-shadow: 6px 6px 6px white;
}
figcaption{
line-height: 100%;
margin-left: 12px;
}
.picture{
margin-top: 4px;
margin-bottom: 12px;
clip: auto;
clip: rect(70px 0 88px 0); 
border-width: 4px 4px 4px 4px;
border-color: white;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
width: 166px;
height: 110px;
margin: auto;
}
.mep{
color: black;
width: 247px;
margin-bottom: 0px;
padding-bottom: 0;
}
.mep1{
font-weight: bolder;
margin-bottom: 10px;
}
.fa-star{
display: inline-flex;
flex-direction: row;
align-content: flex-start;
justify-content: flex-start;
font-family: 'fontAwesome';
content: "f005";
color: blue;
margin-top: 0px;
margin-left: 1px;
}
#true{
display: inline-flex;
flex-direction: row;
align-content: flex-start;
justify-content: flex-start;
font-family: 'fontAwesome';
content: "f005";
color:#F2F2F2;
margin-top: 0px;
margin-left: 12px;
}

.logement{
width: 100%;
height: 29px;
grid-column-start: 1;
grid-column-end: 3;
grid-column-start: 1;
padding-left: 35px;
}
/*partie et présentation de droite*/
#gridright{
display: grid;
grid-template-columns: 334;
grid-template-rows: 26px 143px 143px 143px;
grid-row-gap: 30px;
align-content: flex-start;
justify-content: flex-start;
padding: 0 15px 0 15px;
background-color: #F2F2F2;
margin-top: 45px;
margin-bottom: auto;
border-radius: 25px;
width: 419px;
height: 630px;
border: 2px solid black;
margin-left: 15px;
}
.rightpart{
border-radius: 25px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: center;
background-color: black;
width: 343px;
height: 144px;
border-top: 4px solid white;
background-color: white;
}
.picturer{
display:grid;
grid-column-start: 1;
width: 122px;
height: 85%;
border-radius: 25px;
border-left: 2px solid white;
}
.gridrighttitle{
grid-template-columns: 1;
grid-row-start: 1;
}
.room7{
grid-column-start: 1;
grid-row-start: 2;
}
.room8{
grid-column-start: 1;
grid-row-start: 3;
}
.room9{
grid-column-start: 1;
grid-row-start: 4;
}
/*partie et présentation des activité*/
#gridunder{
    display:grid;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 65px 180px 40px 180px;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    justify-content: space-around;
    width: 1436px;
    height: 580;
    background-color: #F2F2F2;
    margin-top: 63px;
    padding-left: 0;
    }
        .actiunder{
        display: flex;
        flex-direction: column;
        height: auto;
        }
        .titreactivite{
        grid-column-start:1;
        grid-column-end: 2;
        grid-row:1;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .activite1{
        display:grid;
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .activite2{
        display:grid;
        grid-row-start: 2;
        grid-column-start: 2;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .activite3{
        display:grid;
        grid-row-start: 4;
        grid-column-start: 2;
        box-shadow: 6px 6px 6px #F2F2F2;
      
        }
        .activite4{
        display:grid;
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 3;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .activite5{
        display:grid;
        grid-row-start: 2;
        grid-column-start: 4;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .activite6{
        display:grid;
        grid-row-start: 4;
        grid-column-start: 4;
        box-shadow: 6px 6px 6px #F2F2F2;
        
        }
        .nomactivite{
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        line-height: 85%;
        }
        .picturea, .pictureap{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-bottom: 10px;
        width: 150px;
        height: 100%;
        }
        footer{
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        background-color: #F2F2F2;
        width: 905.5px;
        float:left;
        }
        a{
        text-decoration: none;
        color: black;
        }
        a:hover{
        cursor: grab;
        }
