/** Partie valable pour l'ensemble du css**/
.fa-star{
    display: inline-block;
    flex-direction: row;
    font-family: 'fontAwesome';
    content: "f005";
    color: #0065FC;
    margin-left: 10px;
    }
    .grey
    {
    color:#F2F2F2 ;
    }
    a{
    color: black;
    }
/**Partie Principale desktop**/
@media screen and (min-width:770px)
{
    body{
    margin-left: 45px;
    font-family: 'Raleway';
    font-weight: 400;
    width: 1436px;
    }
    header{
    display: grid;
    grid-template-rows: auto;
    flex-direction: row;
    margin-top: 41px;
    width: auto;
    }
    #smallerscreen{
    display: none;
    }
    #biggerscreen{
    display: grid;
    grid-template-columns: 61% 39%;
    }
    #logoentête{
    grid-row-start: 1;
    grid-template-columns: 1;
    width: 66%;
    }
    .logo{
    width: 88px;
    height: 41px;
    float: left;
    }
    #sousnavigation{
    grid-row-start: 1;
    grid-template-columns: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    padding: 20px
    }
    #Hébergements, #activités, #inscription{
    margin-top: 49px;
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 60px;
    }
    #inscription{
    color:#0065FC;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bolder;
    margin-top: 49px;
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 60px;
    }
    #Hébergements:hover, #activités:hover, #inscription:hover{
    border-top: 3px solid #0065FC;
    margin-top: 0px;
    padding-top: 49px;
    margin-right: 60px;
    box-sizing: content-box;
    width: auto;
    }
    #precision{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 60px;
    }
    .search{
    grid-column-start: 1;
    grid-row-start: 1;
    }
    .fil{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: auto;
    }
    .fa-search{
    display:none;
    color: white;
    }
    .titfil{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    }
    #zone{
    display: flex;
    float: left;
    width: 419px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 34px;
    margin-top: 21px;
    }
    #Point{
    display: flex;
    align-items: center;
    justify-content: center;
    Align-content: center;
    width: 11%;
    height: 48px;
    }
    .fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    }
    #ville{
    width: 59%;
    height: 48px;
    Border: 2px solid #F2F2F2;
    }
    #Boutonrecherche{
    width:30%;
    height: 48px;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;       
    }
    #liste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    width: 928px;
    float: left;
    }
    .fa-info{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;
    }
    .filtre{
    display: flex;
    align-items: center;
    box-sizing: content-box;
    border: solid #F2F2F2;
    height: 49px;
    border-radius: 30px;
    margin-bottom: 250px;
    padding-right: 15px;
    float:left;
    }
    .filtre:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor: grab;
    }
    .fa-money-bill-wave-alt, .fa-child, .fa-heart, .fa-dog{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    width: 20px;
    margin : 0 10px 0 0;
    }
    #principalgrid{
    display: grid;
    grid-template-columns: 65% 31%;
    grid-column-gap: 2%;
    grid-template-rows: 626px 500px 218px;
    width: 1436px;
    }
    /*Grid et présentation à gauche*/
    #gridleft{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50px 200px 200px 50px ;
    grid-row-gap: 30px;
    align-items: center;
    justify-items: center;
    background-color: #F2F2F2;
    width: 950px;
    height: 630px;
    border-radius: 15px;
    margin-top: 45px;
    margin-right: 0px;
    padding-left: auto;
    padding-right: auto;
    }
    .room1
    {
    grid-column-start: 1;
    grid-row-start: 2;
    }
    .room2
    {
    grid-column-start: 2;
    grid-row-start: 2;
    }
    .room3
    {
    grid-column-start: 3;
    grid-row-start: 2;
    }
    .room4
    {
    grid-column-start: 1;
    grid-row-start: 3;
    }
    .room5{
    grid-column-start: 2;
    grid-row-start: 3;
    }
    .room6{
    grid-column-start: 3;
    grid-row-start: 3;
    
    }
    .moreright{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    }
    .placeleft{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 247px;
    background-color: white;
    height: 100%;
    box-shadow: 6px 6px 6px grey;
    border: 4px solid white;
    }
    figcaption{
    line-height: 100%;
    margin-left: 12px;
    }
    .picture{
    margin-top: 4px;
    margin-bottom: 12px;
    object-fit: cover;
    border: 4px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 95%;
    height: 110px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:auto;
    margin: auto;
    }
    .mep{
    color: black;
    width: 247px;
    margin-bottom: 0px;
    padding-bottom: 0;
    }
    .mep1{
    font-weight: bolder;
    margin-bottom: 10px;
    }
    #true{
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    font-family: 'fontAwesome';
    content: "f005";
    color:#F2F2F2;
    margin-top: 0px;
    margin-left: 12px;
    }
    
    .logement{
    width: 100%;
    height: 29px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-start: 1;
    }
    /*partie et présentation de droite*/
    #gridright{
    display: grid;
    grid-template-columns:419px;
    grid-template-rows: 20px 140px 140px 140px;
    grid-row-gap: 6.5%;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 15px 0 15px;
    background-color: #F2F2F2;
    margin-top: 45px;
    margin-bottom: auto;
    border-radius: 15px;
    width: 419px;
    height: 630px;
    margin-left: 15px;
    
    }
    .rightpart{
    border-radius: 15px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 35% 30% 15%;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 340px;
    height: 130px;
    border-top: 4px solid white;
    background-color: white;
    box-shadow: 6px 6px 6px grey;
    }
    .picturer{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 130px;
    height: 122px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 4px solid white;
    object-fit: cover;
    margin-top: 10px;
    }
    .gridrighttitle{
    grid-template-columns: 1;
    grid-row-start: 1;
    padding-bottom: 0;
    margin-bottom: 0;
    }
    .room7{
    grid-column-start: 1;
    grid-row-start: 2;
    }
    .room8{
    grid-column-start: 1;
    grid-row-start: 3;
    }
    .room9{
    grid-column-start: 1;
    grid-row-start: 4;
    }
    .pres{
    display: grid;
    flex-direction: row;
    /*! grid-template-columns: ; */
    grid-template-rows: 39% 40% 25%;
    }
    .presentation{
    grid-template-columns: ;
    line-height: 20%;
    margin-top: 15px;
    }
    .presentationhn{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 18px;
    }
    /*partie et présentation des activité*/
    #gridunder{
    display:grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 65px 180px 45px 180px;
    grid-column-gap: 2%;
    justify-content: space-around;
    width: 1436px;
    height: auto;
    margin-top: 63px;
    padding-left: 0;
    }
    .actiunder{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }
    .titreactivite{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row:1;
    box-shadow: none;
    height: auto;
    }
    .activite1{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    }
    .activite2{
    display:flex;
    grid-row-start:2;
    grid-column-start: 2;
    height: 150%;
    }
    .activite3{
    display:grid;
    grid-row-start: 4;
    grid-column-start: 2;
    }
    .activite4{
    display:grid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    }
    .activite5{
    display:grid;
    grid-row-start: 2;
    grid-column-start: 4;
    }
    .activite6{
    display:grid;
    grid-row-start: 4;
    grid-column-start: 4;
    }
    .nomactivite{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    line-height: 40%;
    font-size: 1em;
    font-weight: bolder;
    padding-top: 10px;
    }
    .picturea{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    }
    .pictureap{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 65%;
    justify-content: center;
    }
    footer{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 1436px;
    float:left;
    }
    .propos{
    color: black;
    }
    a{
    text-decoration: none;
    }
    a:hover{
    cursor: grab;
    }
}

/*Partie pour Ipad*/
@media screen and (max-width:769px)
    /*Partie général + header*/
    {
    body{
    font-family: 'Raleway';
    font-weight: 400;
    width: auto;
    max-width: 700px;
    margin: 15px;
    }
    #logoentête{
    grid-column-start: 1;
    align-content: flex-start;
    justify-content: flex-start;    
    }
    .logo{
    width: 25%;
    height: 25%;
    float: left;
    margin-top: 20px;
    }
    #smallerscreen{
    display:none;
    }
    #biggerscreen{
    display: grid;
    grid-template-columns: 400px 300px;
    height: 100px;
    width: auto;
    max-width: 700px;
    padding-bottom: 100px;
    color: #0065FC;
    }
    #sousnavigation{
    grid-column-start: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 41px;
    font-size: 1em;
    color: #0065FC;
    }
    #inscription{
    color:#0065FC;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bolder;
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 60px;
    }
    #inscription:active, #Hébergements:active, #activités:active{
    border-bottom: 2px solid #0065FC;
    transition-duration: 3s;
    }
    #Hébergements, #activités{
    height: 38px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    margin-right: 30px;
    }
    #precision{
    display: grid;
    grid-template-columns: 100%;
     grid-template-rows: 60px 60px;
    }
    .search{
    grid-column-start: 1;
    grid-row-start: 1;
    }
    .fil{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 500px;
    width: auto;
    }
    .titfil{
    padding-top: 40px;
    float: left;
   
    }
    #zone{
    display: flex;
    float: left;
    width: 200px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 34px;
    margin-top: 21px;
    }
    #ordinateur{
    display:none;
    }
    #Point{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 48px;
    }
    .fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    }
    #ville{
    width: 59%;
    height: 48px;
    Border: 2px solid #F2F2F2;
    }
    #Boutonrecherche{
    width:30%;
    height: 48px;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;       
    }
    #liste{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    width: auto;
    float: left;
    flex-wrap: wrap;
    }
    .fa-info{
    color: #0065FC;
    border: 4px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 5px;
    margin: 6px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    }
    .filtre{
    align-items: center;
    box-sizing: content-box;
    border: solid #F2F2F2;
    height: 49px;
    border-radius: 30px;
    margin-bottom: 39px;
    margin-top: 24px;
    font-size: 0.8em;
    float:left;
    }
    .filtre:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor: grab;
    }
    .fa-money-bill-wave-alt, .fa-child, .fa-heart, .fa-dog{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    width: 20px;
    }
    #principalgrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;
    margin-bottom: 25px;
    }
    /*Grid et présentation à gauche*/
    #gridleft{
    display: grid;
    grid-row-start: 2;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50px 150px 150px 150px 50px;
    width: auto;
    max-width: 700px;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 700px;
    }
    .placeleft{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 280px;
    border-top: 6px solid white;
    background-color: white;
    box-shadow: 6px 6px 6px grey;
    height: 150px;
    }
    .logement{
    width: 100%;
    height: 19px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    padding-left: 25px;
    Padding-top: 15px;
    padding-bottom: 15px;
    }
    .room1
    {
    grid-column-start: 1;
    grid-row-start: 2;
    padding-right: 0;
    }
    .room2
    {
    grid-column-start: 1;
    grid-row-start: 3;
    padding-left: 0;
    }
    .room3
    {
    grid-column-start: 2;
    grid-row-start: 2;
    }
    .room4
    {
    grid-column-start: 2;
    grid-row-start: 3;
    }
    .room5{
    grid-column-start: 1;
    grid-row-start: 4;
    }
    .room6{
    grid-column-start: 2;
    grid-row-start: 4;

    }
    .moreright{
    grid-column-start: 1;
    grid-row-start: 5;
    padding-left: 50px;
    }
    figcaption{
    line-height: 5%;
    margin-left: 12px;
    height: 10%;
    }
    .picture{
    object-fit: cover;
    width: 96%;
    height: 95%;
    overflow: hidden;
    margin: 2px 2px 2px 3px;
    }
    .mep{
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0;
    }
    .mep1{
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;
    }
    /*partie et présentation de droite Populaire*/
    #gridright{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 25% 25% 25%;
    grid-row-gap: 10px;
    grid-row-start: 1;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 15px;
    width: auto;
    height: auto;
    box-shadow: grey;
    max-width: 700px;
    padding-left: 0;
    margin-top: 100px;
    }
    .rightpart{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 30% 30% 30% ;
    align-content: center;
    justify-content: center;
    max-width: 700px;
    height: 180px;
    width: 90%;
    border-top: 4px solid white;
    box-shadow:white;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    }
    .picturer{
    display:grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 95%;
    height: 95%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    border-left: 4px solid white;
    }
    .presentation{
    padding-bottom: 100px;
    margin-bottom: 70px;
    padding-left: 0;
    padding-top: 25px;
    }
    .presentationhn{
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 15px;
    }
    .gridrighttitle{
    grid-template-columns: 1;
    grid-row-start: 1;
    padding-left: 20px;
    }
    .room7{
    grid-column-start: 1;
    grid-row-start: 2;
    }
    .room8{
    grid-column-start: 1;
    grid-row-start: 3;
    }
    .room9{
    grid-column-start: 1;
    grid-row-start: 4;
    
    }
    /*partie et présentation des activité*/
    #gridunder{
    display:grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 45px 180px 180px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    width: 600px;
    margin-top: 45px;
    object-fit: cover;
    height: auto;
    margin-left: 0;
    padding-left: 0px;
    padding-bottom: 45px;
    padding-right: 150px;
    }
    .actiunder{
    display: grid;
    grid-template-rows: 85% 15%;
    flex-direction: column;
    height: 200px;
    width: 100%;
    box-shadow: grey;
    overflow: hidden;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding-left: 6px;
    padding-top: 6px;
    }
    .titreactivite{
    grid-column-start:1;
    grid-row-start:1;
    padding-left: 20px;
    padding-bottom: 0;
    }
    .activite1{
    grid-row-start: 2;
    grid-column-start: 3;
    }
    .activite2{
    grid-row-start: 2;
    grid-column-start: 2;
    }
    .activite3{
    grid-row-start: 2;
    grid-column-start: 1;
    }
    .activite4{
    grid-row-start: 3;
    grid-column-start: 1;
    }
    .activite5{
    grid-row-start: 3;
    grid-column-start: 2;
    }
    .activite6{
    grid-row-start: 3;
    grid-column-start: 3;
    }
    .nomactivite{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    height: 20px;  
    font-size: 0.7em;
    font-weight: bolder;
    white-space: pre-wrap;
    }
    .picturea, .pictureap{
    border-top-left-radius: 15px;
     border-top-right-radius: 15px;
    height: 90%;
    width: 95%;
    overflow: hidden;
    padding: auto;
    }
    /**Point footer pied de page**/
    footer{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 700px;
    margin-top: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px
    }
    a{
    text-decoration: none;
    color: black;
    }
    a:hover{
    cursor: grab;
    }
}


/**Partie pour IPHONE 8**/
@media screen and (max-width: 480px)
{
    body{
    font-family: 'Raleway';
    font-size: 1em;
    width: auto;
    height: auto;
    max-width: 400px;
    margin: 0 15px 0 15px;
    }
    header{
    display: grid;
    width: 380px;
    }
    #logoentête{
    grid-row-start: 1;
    grid-column-start: 1;
    margin-right: 0;
    padding-right: 0;
    }
    .logo{
    padding-top: 10px;
    margin-right: 200px;
    padding-right: 200px;
    width: 60%;   
    height: 60%;  
    }
    #biggerscreen{
    display: none;
    }
    #smallerscreen{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    text-align: center;
    width: 100vw;
    }
    #sousnavigation{
    display: grid;
    grid-row-start: 3;
    grid-column-start: 1;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-bottom: 45px;
    padding-top: 10px ;
    width: 100vw; 
    margin-left: 0;
    margin-right: 0;
    float: left;
    }
    #inscription{
    grid-row-start: 1;
    grid-column-start: 2;
    color:#0065FC;
    font-weight: bolder;
    justify-content: flex-start;
    align-content: flex-start;
    font-size: 1.2em;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 45px;
    padding-top: 60px;
    }
    #Hébergements{
    grid-column-start:1;
    font-size:1.2em;
    display:flex;
    justify-content:center;
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-bottom-width: 110%;
    padding-bottom: 0px;
    line-height: 0px;
    padding-top: 12PX;
    margin-left: 0;
    margin-right: 0;
    }
    #activités{
    grid-column-start:2;
    font-size: 1.2em;
    justify-content: center;
    border-bottom: 2px solid #F2F2F2;
    border-bottom-width: 110%;
    padding-bottom: 13px;
    margin-left: 0;
    margin-right: 0;
    }
    #Hébergements:active, #activités:active{
    color:#0065FC;
    border-bottom:2PX solid #0065FC;
    }
    #info{
    width: 80%;
    margin-left:25px;
    }
    .search{
    grid-column-start: 1;
    grid-row-start: 1;
    }
    .fil{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: auto;
    }
    .titfil{
    grid-row-start: 1;
    grid-column-start: 1;
    font-weight: bolder;
    font-size: 1.3em;
    }
    #zone{
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    margin-left: 40px;
    width: 330px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 34px;
    margin-top: 21px;
    }
    #Point{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.15%;
    height: 48px;
    }
    .fa-map-marker-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #ville{
    width: 69.70%;
    height: 48px;
    Border: 2px solid #F2F2F2;
    }
    #Boutonrecherche{
    width:15.15%;
    height: 48px;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;       
    }
    #liste{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px 50px 50px;
    grid-row-gap: 20px;
    margin-left: 25px;
    width: 380x;
    margin-bottom: 155px;
    }
    .pointinfo{
    position:absolute; top:-9999px;right:-9999px
    }
    .filtre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    box-sizing: content-box;
    border: solid #F2F2F2;
    height: 49px;
    border-radius: 30px;
    padding-right: 23px;
    margin-top: 24px;
    float:left;
    }
    .éco{
    grid-row-start: 2;
    grid-column-start: 1;
    }
    .fami{
    grid-row-start: 2;
    grid-column-start: 2;
    }
    .coeur{
    grid-row-start: 3;
    grid-column-start: 1;
    }
    .chien{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    }
    .filtre:active{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor: grab;
    }
    .fa-money-bill-wave-alt, .fa-child, .fa-heart, .fa-dog{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    width: 20px;
    margin : 0 10px 0 0;
    }
    #principalgrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 0.5%;
    margin-top: 220px;
    margin-left: 0;
    }
    .true{
    display: flex;
    flex-direction: row;
    font-family: 'fontAwesome';
    content: "f005";
    color: #F2F2F2;
    }
    /*Grid et présentation à gauche*/
    #gridleft{
    display: block;
    grid-row-start: 2;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 0px;
    padding-left: 0;
    height: auto;
    width: auto;
    max-width: 380px;
    margin-left: 10px;
    }
    .placeleft{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: auto;
    border-top: 4px solid white;
    background-color: white;
    height: 100%;
    box-shadow: 6px 6px 6px grey;
    }
    figcaption{
    line-height: 100%;
    margin-left: 12px;
    }
    .picture{
    margin-top: 4px;
    margin-bottom: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 95%;
    height: 110px;
    margin-left: 2px;
    }
    .mep{
    color: black;
    width: 247px;
    margin-bottom: 0px;
    padding-bottom: 0;
    }
    .mep1{
    font-weight: bolder;
    margin-bottom: 10px;
    }
    #true{
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    font-family: 'fontAwesome';
    content: "f005";
    color:#F2F2F2;
    margin-top: 0px;
    margin-left: 12px;
    }
    .logement{
    width: 100%;
    height: 29px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-start: 1;
    padding-left: 35px;
    }
    /*partie et présentation de droite*/
    #gridright{
    display: grid;
    grid-template-columns:40% 60%;
    grid-row-start:25% 45% 30% ;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-bottom: auto;
    border-radius: 15px;
    width: 380px;
    margin-left: 10px;
    }
    .rightpart{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 45% 20%;
    justify-content: flex-start;
    grid-column-gap: 4%;
    align-content: center;
    width: 320px;
    max-width: 380px;
    height: 144px;
    border: 4px solid white;
    background-color: white;
    box-shadow: grey;
    }
    .picturer{
    display:grid;
    grid-column-start: 1;
    width: 122px;
    height: 95%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    }
    .gridrighttitle{
    grid-template-columns: 1;
    grid-row-start: 1;
    }
    .room7{
    grid-column-start: 1;
    grid-row-start: 2;
    }
    .room8{
    grid-column-start: 1;
    grid-row-start: 3;
    }
    .room9{
    grid-column-start: 1;
    grid-row-start: 4;
    }
    .presentation{
    padding-bottom: 170px;
    margin-bottom: 45px;
    padding-left: 0;
    flex-direction: row;
    }
    .presentationhn{
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 10px;
    flex-direction: row;
    }
    /*partie et présentation des activité*/
    #gridunder{
    display:grid;
    grid-template-columns: 100%;
    grid-row-start: 3;
    grid-row-gap: 1%;
    justify-content:center;
    max-width: 375px;
    height:auto;
    padding-left: 0;
    margin-bottom: 100PX;
    background-color: white;
    }
    .actiunder{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 150px;
    margin-left: 15px;
    margin-right: 15PX;
    background-color: #F2F2F2;
    }
    .titreactivite{
    grid-column-start:1;
    grid-row-start:1;                
    }
    .activite1{
    grid-column-start:1;
    grid-row-start: 2;
    }
    .activite2{
    grid-column-start:1;
    grid-row-start: 3;
    }
    .activite3{
    grid-column-start:1;
    grid-row-start: 4;
    }
    .activite4{
    grid-column-start:1;
    grid-row-start: 5;
    }
    .activite5{
    grid-column-start:1;
    grid-row-start: 6;
    }
    .activite6{
    grid-column-start:1;
    grid-row-start: 7;                
    }
    .nomactivite{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 5px;
    line-height: 85%;
    width: 100%;
    font-weight: bolder;
    height: 30px;
    font-size: 1em;
    }
    .picturea, .pictureap{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 85%;
    object-fit: cover;
    }
    footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    max-width: 350px;
    padding-left: 25px;
    }
    a{
    text-decoration: none;
    color: black;
    }
    a:hover{
    cursor: grab;
    }
                
}


}
